<div style="min-height: 70vh;">
    <div class="container text-center" style="margin-bottom: 96px; margin-top: 69px;">
        <p class="title">Transmitech</p>
    </div>
    <div class="container">
        <p class="title" style="font-size: 30px; margin-bottom: 51px;">Members:</p>
        <div class="row">
            <div class="col-6 d-flex flex-column" style="gap: 33px;">
                <p class="" style="font-size: 23px;"><span class="fw-bold">Affiche: </span> Mohamed Aziz Mrabet</p>
                <p class="" style="font-size: 23px;"><span class="fw-bold">Dupliant: </span> Dhia Belhoussine</p>
                <p class="" style="font-size: 23px;"><span class="fw-bold">Poster technique: </span> Mohamed Boughanmi</p>
            </div>
            <div class="col-6 d-flex flex-column" style="gap: 33px;">
                <p class="" style="font-size: 23px;"><span class="fw-bold">Créateur de vidéos: </span> Mohamed Ali Samaali</p>
                <p class="" style="font-size: 23px;"><span class="fw-bold">Créateur du site: </span> Youssef Alila</p>
            </div>
        </div>
    </div>
</div>