<div class="container text-center" style="margin-bottom: 146px; margin-top: 69px;">
    <p class="title">A propos du projet</p>
    <p class="subtitle text-center" style="margin-top: 45px; margin-bottom: 54px;">Cette maquette a été conçue dans un but pédagogique. Elle permet de visualiser la transmission de mouvement dans un système mécanique à l’aide de pièces mobiles. Le projet vise à illustrer les bases des mécanismes de rotation, translation et transformation de mouvement</p>
    <button class="green-btn">En savoir plus</button>
</div>
<div class="container" style="margin-bottom: 147px;">
    <div class="row text-center">
        <div class="col-6 text-start">
            <p class="title">Contexte pedagogique</p>
            <p class="subtitle" style="margin-top: 30px; margin-bottom: 70px;">Ce projet s’inscrit dans l’apprentissage des systèmes techniques en technologie, physique et sciences de l’ingénieur.</p>
            <button class="green-btn">En savoir plus</button>
        </div>
        <div class="col-6">
            <div>
                <img src="assets/card1.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 145px;">
    <div class="row text-center">
        <div class="col-7 text-start">
            <p class="title">Principe de fonctionnement</p>
            <div class="subtitle" style="margin-top: 30px; margin-bottom: 70px;">La maquette montre comment le mouvement peut être transmis et transformé à travers différents systèmes mécaniques. Elle peut illustrer :
                <ul>
                    <li>Une transmission de rotation</li>
                    <li>Un changement de vitesse ou de direction</li>
                    <li>Une transformation rotation translation</li>
                </ul>
            </div>
            <button class="green-btn">En savoir plus</button>
        </div>
        <div class="col-5">
            <div>
                <img src="assets/card2.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-bottom: 145px; background-color: #86A788; padding-top: 100px; padding-bottom: 100px;">
    <div class="container">
        <div class="row text-center">
            <div class="col-7 text-start">
                <p class="title">Objective Du Projet:</p>
                <div class="subtitle" style="margin-top: 30px; margin-bottom: 70px; color: #EFF3EA !important;">Créer une maquette fonctionnelle illustrant différents types de transmission de mouvement. Et faciliter la compréhension des principes mécaniques en classe.</div>
                <button class="green-btn" style="color: #86A788; background-color: #EFF3EA; margin-top: 104px;">En savoir plus</button>
            </div>
            <div class="col-5">
                <div>
                    <img src="assets/card3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 220px;">
    <div class="row text-center">
        <div class="col-7 text-start">
            <p class="title">Resutats obtenus</p>
            <div class="subtitle" style="margin-top: 30px; margin-bottom: 70px;">
                <ul>
                    <li>Maquette stable, démontable et pédagogique</li>
                    <li>Utilisable en classe pour des démonstrations</li>
                    <li>Fabrication à faible coût</li>
                    <li>Automatiser par des moteurs</li>
                    <li>Pieces imprimee en 3D</li>
                    <li>Interactive par des capteurs</li>
                </ul>
            </div>
            <button class="green-btn">En savoir plus</button>
        </div>
        <div class="col-5">
            <div>
                <img src="assets/card4.png" alt="">
            </div>
        </div>
    </div>
</div>